/*manage.css*/

.folderContent{}
.folderContent h2{
font-size: 24px;
line-height: inherit;
}

.btn-collection-settings{
top: 30px;
right: 10px;
position: absolute;
}



.playlists{
}
.assets{
}



#upload-dropdown{
width: 600px;
}

/*.playlists,.collection-settings{
height: 400px
}*/






