/*manage.css*/
html,body{
	height: 100%;
}

#logo-brand{
	width:45%;
}

#collection-view{}
#current-collection>header{
	position: relative;
	background: #404040;
	height: 160px;
}


#collection-view header h2{
	color: white;
	padding: 30px 0px 0px 30px;
}

#collection-view header h2 a{
	font-size: 2.5em;
	color: white;
}

#collection-view header h3{
	font-size: 1em;
	padding-left: 30px;
	margin: 5px 0 20px 2px;
}

#collection-view header h3 a{
	color: white;
}

#collection-view header h2 a:hover{
	color: gray;
}

#collection-view header h3 a:hover{
	color: gray;
}


#collection-toolbar{
	margin-left: 30px;
}

#playlist-toolbar{

}

.playlist-description-container{
	margin-bottom: 15px;
}

#header_notification_bar{
	z-index: 9999
}
#collection-view .nav-tabs{
	background: #333;
}
#collection-view .nav-tabs li a{
	color: white;
}
#collection-view .nav-tabs li.active a,
#collection-view .nav-tabs li.active a:hover,
#collection-view .nav-tabs li.active a:focus{
	color: #333;
	font-weight: bold;
}

#collection-view table tbody{
	background: whitesmoke;
}
.panelHeader{
	background: #333
}

#current-collection .nav-tabs a:hover{
	color: #333

}
.folderContent{}

.folderContent h2{
	font-size: 24px;
	line-height: inherit;
	z-index: 1000;
}

.btn-collection-settings{
	top: 30px;
	right: 10px;
	position: absolute;
}



#playlists-container{}
#assets-container{}

#assets-container .col-md-9{
	height: 600px;
}
#settings-container{}
#deployments-container{}

#filedrop{
	height:600px;
	overflow-y: scroll;
}

#upload-dropdown{
	width: 600px;
}

/*.playlists,.collection-settings{
height: 400px
}*/




#asset-player{
	height: 135px;
}

#asset-toolbar{
	height: 25px;
	background: #333;

}
#asset-editor header{
	padding: 10px;
	color: #fff;
}


.draggable-asset.ui-draggable-dragging{
	overflow:visible;

}

#newPlaylist{
	padding: 10px;
	background: #189515;
}
#btn-new-playlist{
}

#unassigned-assets-list{
	/*height: 600px;*/
	/*overflow-y: scroll;*/
}

/*Active Asset*/


.active-asset td
{
	background: #258ecd !important;
	
}

.active-asset .asset-player-btn i{
	color: #e1e1e1;
}
.active-asset .asset-player-btn:hover i{
	color: white;
}

.active-asset td a{
	color:  #e1e1e1 !important;
}

.active-asset a,
.active-asset a i,

{
	
}

/**/


#asset-editor{}
#asset-editor h4{}
#asset-editor h4 a{
	color:#afdefa;
}

#asset-editor .panel-default>.panel-heading{
	background: #0d77b6;
}



/***************  App Folder ******************/
.jaf-container{
	position: relative;
	padding: 0;
	min-height: 100px;
}

.jaf-row{
	/*zoom: 1;*/
	min-width: 320px;
}

.folder{
	margin-right: 50px;
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 16%;
	/*height: 225px;*/
	padding: 3% 3% 10px 3%;
	cursor: pointer;
}

.folder::before{
	position: absolute;
	bottom: -1px;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-left: 7px;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	-webkit-transition: bottom 0.2s ease-in;
	-moz-transition: bottom 0.2s ease-in;
	transition: bottom 0.2s ease-in;
}

.folder::after{
	position: absolute;
	bottom: -1px;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-left: 6px;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	-webkit-transition: bottom 0.2s ease-in;
	-moz-transition: bottom 0.2s ease-in;
	transition: bottom 0.2s ease-in;
}



.album-name{
	white-space: nowrap;
	font-weight: bold;
	/*overflow: hidden;*/
	text-align:center;
	text-overflow: ellipsis;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.jaf-container .playlists h2{
	font-weight: bold;
}

.app-folders-container{
	width: 100%;
	margin: 0 auto;
}

.active-tool{
	z-index: 10;
}

.active-tool::before{
	bottom: -1px;
	margin-left: -7px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid rgba(0,0,0,0.3);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool::after{
	bottom: -1px;
	margin-left: -6px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.jaf-container img{
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.active-tool img{
	max-width: 130%;
	margin-top: -15%;
	margin-left: -15%;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.folderContent{
	position: relative;
	/*z-index: 0;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 320px;
	padding: 5px 0 0 10px;
	border: 1px solid rgba(0,0,0,0.3);
	border-width: 1px 0;
	background: rgb(224, 232, 233);
}

.folderContent a:hover{
	text-decoration: underline;
}

.folderContent .close{
	position: absolute;
	top: 15px;
	left: 10px;
	padding: 1px 5px 3px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.5);
	font-weight: bold;
}

.folderContent .close:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.5);
}

.multi{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.art-wrap{
	float: right;
	text-align: right;
	/*width: 30%;*/
}

.art-wrap img{
	position: relative;
	z-index: -2;
	display: block;
	width: 100%;
	max-width: 300px;
}

.clear{
	clear: both;
}

@media (max-width: 480px){

	.folder{
		height: 145px;
	}

	.folderContent{
		/*padding: 20px 40px;*/
		width: 100%;
	}

}

@media (min-width: 481px) and (max-width: 768px){

	.folder{
		height: 210px;
	}
}

@media (max-width: 768px){

	.multi{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.art-wrap{
		display: none;
	}
}

@media (min-width: 769px){

	.jaf-row{
		width: 800px;
		margin: 0;
	}
}
/*************** / App Folder ******************/




/**************  SPMENU *************************/




/* General styles for all menus */
.cbp-spmenu{
	background: #47a3da;
	position: fixed;
	overflow-y: auto;
}


#newCollection{
	border-bottom: 1px solid #258ecd;
	padding: 10px;
	background: #189515;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.cbp-spmenu .toolbar{
	background: #196490;
	height: 60px;

}
.cbp-spmenu .toolbar li{
	/*float: left;*/
	background: #196490;
	/*width: 60px;*/
}
.cbp-spmenu .toolbar li a{}


.cbp-spmenu h3{
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a{

}

.cbp-spmenu .browse-assets-container a{
	color: black;
}

.cbp-spmenu a:hover{
	text-decoration: underline;}

	.cbp-spmenu a:active{
		background: #afdefa;
		color: #47a3da;
	}

	/* Orientation-dependent styles for the content of the menu */

	#collections-list{
		width: 240px;
	}

	#asset-view{
		width: 300px;
	}

	#collections-list,
	#asset-view{
		height: 100%;
		top: 101px;
		z-index: 1;
	}


	#collections-list a{
		display: block;
		color: #fff;
		font-size: 1.1em;
		font-weight: 300;

		border-bottom: 1px solid #258ecd;
		padding: 1em;
	}



	.cbp-spmenu-horizontal{
		width: 100%;
		height: 300px;
		left: 0;
		z-index: 11;
		overflow: hidden;
	}

	.cbp-spmenu-horizontal h3{
		height: 100%;
		width: 20%;
		float: left;
	}

	.cbp-spmenu-horizontal a i{
		float: left;
		padding-right: 1em;
		color: #258ecd;
		/*height: auto;*/
	}

	.cbp-spmenu-horizontal a i:hover{
		color: #196490;
	}

	/* Vertical menu that slides from the left or right */

	.cbp-spmenu-left{
		left: -340px;
	}

	.cbp-spmenu-right{
		right: -340px;
	}

	.cbp-spmenu-left.cbp-spmenu-open{
		left: 0px;
		padding-bottom: 150px;
	}

	.cbp-spmenu-right.cbp-spmenu-open{
		right: 0px;
	}

	/* Horizontal menu that slides from the top or bottom */

	.cbp-spmenu-top{
		top: -250px;
	}

	.cbp-spmenu-bottom{
		bottom: -300px;
	}

	.cbp-spmenu-top.cbp-spmenu-open{
		top: 0px;
	}

	.cbp-spmenu-bottom.cbp-spmenu-open{
		bottom: 0px;
	}

	/* Push classes applied to the body */

	.cbp-spmenu-push{
		overflow-x: hidden;
		position: relative;
		left: 0;
	}

	.cbp-spmenu-push-toright{
		left: 240px;
		width: 80%;
	}



	.cbp-spmenu-push-toleft{
		left: -240px;
	}

	/* Transitions */

	.cbp-spmenu,
	.cbp-spmenu-push{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	/* Example media queries */

	@media screen and (max-width: 55.1875em){

		.cbp-spmenu-horizontal{
			font-size: 75%;
			height: 110px;
		}

		.cbp-spmenu-top{
			top: -110px;
		}

		.cbp-spmenu-bottom{
			bottom: -210px;
		}

	}





	/**************  /SPMENU ************************/









	/* iPads (landscape) ----------- */
	@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
		/* Styles */
		#current-collection>header{
			height: 150px
		}

		#current-collection>header .share{
		}

	}

	/*******  xEditable Styles************/
	#current-collection .editable-click, a.editable-click{
		text-decoration: none;
		color: #000;
	}
	#current-collection header .editable-click,
	#current-collection header a.editable-click{
		text-decoration: none;
		color: #ccc;
	}

	.editable-input{
		margin: 0px;
	}

	li{
		list-style: none;
	}
	/*******  / xEditable Styles************/



	.drag-to{
		padding: 5px 0 0 10px;
		background: lightgreen;
		outline: 2px dashed #333;
		-webkit-transition: all .15s ease-in;
		-moz-transition: all .15s ease-in;
		-ms-transition: all .15s ease-in;
		-o-transition: all .15s ease-in;
		transition: all .15s ease-in;
	}
	.drag-to-hover{
		padding: 20px;
		background: green;
		outline: 2px dashed lightgreen;
		-webkit-transition: all .25s ease-in;
		-moz-transition: all .25s ease-in;
		-ms-transition: all .25s ease-in;
		-o-transition: all .25s ease-in;
		transition: all .25s ease-in;
	}

	#browse-view-header{
		height: 40px;
		background: #0d77b6;
	}

	#browse-view-header h3{
		background: #0d77b6;
		float: none;
		color: #afdefa;
		font-size: 1.9em;
		font-weight: 300;
		margin: 0;
		padding: 2px 6px;
		width: 100%;
	}
	.browse-view-container{}

	.browse-assets-container{
		background: #fff;
		border-top: 1px solid black;
		overflow-y: scroll;
		height: 300px;
	}
	.browse-assets-container ul{
		padding:4px 40px 40px 40px;
		column-count:4;
		-moz-column-count:4; /* Firefox */
		-webkit-column-count:4; /* Safari and Chrome */
	}
	.browse-assets-container ul li{
		/*padding: 2px 0px*/
	}

	/*context-menu*/



	.context-menu-container{}
	.context-menu-container ul.dropdown-menu{
		margin: 0;
		padding: 0;
	}
	.context-menu{
		height: 250px
	}

	.context-menu ul{
		margin: 0;
		padding: 0;
	}
	.context-menu ul li{
		margin: 0;
		padding: 2px 15px 0px;
	}

	.context-menu ul li:hover{
		background: rgba(0,0,0,.15);
	}
	.context-menu ul li a{
		display: block;
	}

	.context-menu .item .back{}
	.context-menu .item div{
		padding: 10px
	}

	.context-menu .item>header{
		background: #333;
		padding: 10px;
		height: 40px;
	}
	.context-menu .item header a.back{
		cursor: pointer;
	}

	.context-menu .slide-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #252526;
		margin-top: 7px;
		margin-right: -7px;
	}




/*/context-menu*/