/*manage.css*/

.folderContent{}
.folderContent h2{
font-size: 34px;
line-height: inherit;
}

.collection-settings{
	background: #666;
}

.face.back {
height: auto;
display: block;
-webkit-transform: rotateY(180deg);
-webkit-box-sizing: border-box;
-moz-transform: rotateY(180deg);
-moz-box-sizing: border-box;
-o-transform: rotateY(180deg);
-o-box-sizing: border-box;
transform: rotateY(180deg);
box-sizing: border-box;
padding: 10px;
color: white;
background-color: rgba(0,0,0,.9);
}

#upload-dropdown{
	width: 600px;
}

/*.playlists,.collection-settings{
	height: 400px
}*/

