/*player.css*/
html,body{
	background: #000;
}

body{min-width: 300px}
body.push-menu{}

#player-menu-nav{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

	position: fixed;
	overflow-y: auto;

	width: 25%;
	height: 100%;
	top: 0;
	right: -25%;

	background: #333;

}
#player-menu-nav .panel-heading:hover{background: #ADD9FF;}
#player-menu-nav .panel-body{margin: 0; padding: 0;}
#player-menu-nav ul{margin: 0; padding: 0; list-style: none;}
#player-menu-nav ul li{
	margin: 0 0px;
}
#player-menu-nav ul li a{}

#player-menu-nav ul li a:hover{}

#mediaplayer-wrapper .panel-group .panel{
	border-radius: 0;
	margin:0 0 1px 0;
}

.panel-group ul{}

#mediaplayer-wrapper [data-toggle="collapse"]{
	display: block;
}

body.push-menu-open #player-menu-nav{
	right: 0px !important;
}

body #player-video{
	width:100% !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.push-menu-open #player-video{
	width:75% !important;
}

#mediaplayer-wrapper{}
#player-video{
	top: 0;
	bottom: 0;
	position: absolute;
	height: inherit !important;
}

#player-menu{
	background: #555555; /* Old browsers */
	background: -moz-linear-gradient(top,  #555555 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #555555 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #555555 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #555555 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #555555 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

}
#player-menu-nav .item header
{
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

	color:#f3f3f3;
	position: relative;
	padding: 10px;
}
#player-menu-nav header .title{
	font-size: 25px;
}

#player-menu-nav .toolbar {text-align: right}
#player-menu-nav header .toolbar {}
#player-menu-nav header .toolbar a{
	color: #e1e1e1;
	margin: 0;
	padding: 0;
}
#player-menu-nav .video_play{
	cursor: pointer;
}

#playrate-slider{margin-top: 12px;}






#player-menu-nav header .toolbar a:hover{
	color: #fff;
	background: none;
}
.playlist-title{text-transform: capitalize;}

#player-menu-nav .menuSection{
	background: #e1e1e1;
	color: #aaa;
	padding: 0px 3px;
	font-size: 12px;
}

#settings-panel{
	background: #fff;
	padding: 20px;
}

.back{
	cursor: pointer;
	color: #e1e1e1;
}
.back:hover{
	color: #fff;
}



/*Video Player CSS*/



.vjs-control-bar{
	display: block !important;
}

.vjs-control.vjs-vidMenu-button:before {
	font-family: verdana;
	content: "MENU";
}

.vjs-default-skin {
	color: #dedede
}

.vjs-play-progress, .vjs-volume-level {
	background-color: #501794 !important;
}

.vjs-control-bar, .vjs-big-play-button {
	background: rgba(97, 97, 97, 0.7)
}

.vjs-slider {
	background: rgba(97, 97, 97, 0.2333333333333333)
}

.vjs-control-bar {
	font-size: 100%
}