/*player.css*/

#player-menu{
	background: #fff;
	bottom: 0px;
	display: block;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 200px;
	z-index: 1;

}


#player-menu #toggle-menu{
position: relative;

}
#player-menu #menu-btn{
	background: #e1e1e1;
	padding: 10px 10px;
	position: absolute;
	right: -75px;
}
#player-menu #menu-btn:after{
	display: block;
	width: 0px;
	height: 0px;
	border-right: 170px solid #9EB94C;
	border-bottom: 70px solid transparent;
}
#player-menu #menu-btn:hover{}

#player-menu #menu-collections{
	margin: 0;
	padding: 0;
}
}

#player-menu #menu-collections li,
#player-menu #menu-playlist ul,
#player-menu #menu-assets ul{

}

#player-menu #menu-collections ul li,
#player-menu #menu-playlist ul li,
#player-menu #menu-assets ul li{}

#player-menu #menu-collections ul li a,
#player-menu #menu-playlist ul li a,
#player-menu #menu-assets ul li a{

}


/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░░░░░░░░░*/
/*
♂+♀=∞ ◙
*/