/*structure.css*/

#main-nav{
margin-bottom: 0;
background: #fff;
}

#subnav-search{
margin: 3px 15px;
width: 400px;
}

#app{
	margin-top: 101px;
}

#subnav-container{
background: #e1e1e1;
max-height: 50px;
top:51px;
z-index: 11;
}

#subnav-container>.subnav>ul{
line-height: 30px
}
#subnav-container>.subnav>form{
	margin-top: 8px;
}